.square {
  border: 1px solid black;
  color: red;
  padding: 1em;
  margin: 1em;
}

/* body {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
} */

body {
  display: grid;
}

board {
  display: grid;
  /* Creates 3x3 grid pattern */
  grid-template: repeat(3, 1fr) / repeat(3, 1fr); /* Creates 3x3 grid pattern */
  height: 20rem;
  width: 20rem;
  border: 1px; /* hmm... flexbox center this entire board on the page */
}
